<section class="listing">
    <!-- <img class="listing-photo" [src]="housingLocation.photo" alt="Exterior photo of {{housingLocation.name}}"> -->
    <h2 class="listing-heading">{{ project.project_name }}</h2>
    <p class="listing-location">{{ project.project_location}},</p>
    <p class="listing-location">{{ project.project_start_date}},</p>
    <p class="listing-location">{{ project.project_delivery_date}},</p>
    <p class="listing-location">{{ project.project_main_image}},</p>
    <p class="listing-location">{{ project.project_short_description}},</p>
   <a [routerLink]="['/app-project-details', project.project_id]">Learn More</a>  -->
  </section>