<article>
    <!-- <img class="listing-photo" [src]="housingLocation?.photo"
      alt="Exterior photo of {{housingLocation?.name}}"/> -->
    <section class="listing-description">
      <h2 class="listing-heading">{{selectedDeveloperUnit?.unit_name}}</h2>
      <p class="listing-location">{{selectedDeveloperUnit?.unit_building_name}}</p>
    </section>
    <section class="listing-features">
      <h2 class="section-heading">About this Project location</h2>
      <ul>
        <!-- <li>Units available: {{selectedDeveloper?.availableUnits}}</li>
        <li>Does this location have wifi: {{selectedDeveloper?.wifi}}</li>
        <li>Does this location have laundry: {{selectedDeveloper?.laundry}}</li> -->
      </ul>
    </section>
  </article>